.fixednavbar-wrapper {
  background-color: var(--background-blue-color);
  color: ghostwhite;
  font-weight: 500;
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.fixednavbar-wrapper .employee-details {
  background-color: var(--light-hover-blue);
  margin: 1vh 1.5vh 5vh 1.5vh;
  padding: 1.5vh 0 .01vh 2vh;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
}
.fixednavbar-wrapper .employee-details p:nth-child(1) {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: -0.2vh;
}
.fixednavbar-wrapper .fixednavbar-list-group {
  background-color: var(--background-blue-color) !important;
  margin-top: 4vh;
  text-decoration: none;
  list-style: none;
}
.fixednavbar-wrapper ul li {
  background-color: var(--background-blue-color);
  list-style: none;
}
.fixednavbar-wrapper i {
  color: var(--background-white-color);
}
.fixednavbar-wrapper a.nav-link {
  color: var(--background-white-color);
  padding: 1.2vh 0 1.2vh 4vh;
  margin-top: 2vh;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper a.nav-link.active-here {
  color: var(--background-white-color);
  background-color: var(--light-hover-blue);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper a.nav-link:hover {
  color: var(--background-white-color);
  background-color: var(--light-hover-blue);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper hr {
  width: 100%;
  border: 1px solid var(--light-hover-blue);
}