@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --background-blue-color: #255aa0;
  --background-white-color: ghostwhite;
  --light-hover-blue: #3670bc;
  --input-field-color: #e6e6e6;
  --theme-orange-color: #f25833;
}
body {
  background-color: ghostwhite;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: ghostwhite;
  position: relative;
  margin-top: -3vh;
  position: fixed;
  width: 90%;
  z-index: 5;
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.05); */
}

header .logout {
  /* position: relative; */
  margin-left: 30vh;
}
header .xs-header #logo-anchor {
  width: 30vh;
  /* height: 5vh; */
}
header .xs-header #logo-anchor img {
  width: 100%;
}
header .xs-header #basic-navbar-nav ul li {
  background-color: var(--background-blue-color);
  list-style: none;
}
header .xs-header #basic-navbar-nav i {
  color: var(--background-white-color);
}
header .xs-header #basic-navbar-nav a.nav-link {
  color: var(--background-white-color);
  padding: 1.2vh 0 1.2vh 4vh;
  margin-top: 2vh;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
header .xs-header #basic-navbar-nav a.nav-link.active-here {
  color: var(--background-white-color);
  background-color: var(--light-hover-blue);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
header .xs-header #basic-navbar-nav a.nav-link:hover {
  color: var(--background-white-color);
  background-color: var(--light-hover-blue);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
} 
header .xs-header hr {
  width: 100%;
  border: 1px solid var(--light-hover-blue);
}
header .xs-header .employee-details {
  background-color: var(--light-hover-blue);
  text-align: center;
  margin-left: -3vh;
  padding: .3vh 0 .15vh 0;
  color: ghostwhite;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
}
header .xs-header .employee-details p:nth-child(1) {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: -0.2vh;
}
header #basic-navbar-nav {
  background-color: var(--background-blue-color);
  margin-top: 4vh;
  padding: 3vh;
  border-radius: 5px;
}
header #basic-navbar-nav a {
  color: ghostwhite;
  /* padding: 3vh 0 0 3vh; */
}
.page-header {
  margin-top: 18vh;
}
#logout-navbar-nav {
  width: 10%;
}
#toggle-switch {
  margin-left: 20px;
  height: 50px;
  /* margin-top: 20px; */
  float: right;
  /* padding-top: 20px; */
  display: inline-block;
  padding-top: 15px;
}
.navbar-right-content {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  margin: 10px;
}
.navBar-username {
  float: right;
  margin-right: 30px;
}
#nav-bar-logo {
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0px;
}
#logo-anchor {
  padding: 0px;
  margin: 0px;
  /* float: left; */
}
#logout-navbar-nav {
  /* background-color: red; */
  width: 10%;
  background-color: white;
  /* margin: 10px; */
}
#toggle-switch {
  margin-left: 20px;
  height: 50px;
  /* margin-top: 20px; */
  float: right;
  /* padding-top: 20px; */
  display: inline-block;
  padding-top: 15px;
}
.navbar-right-content {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  margin: 10px;
}
.navBar-username {
  float: right;
  margin-right: 30px;
}

#logo-img {
  width: 100%;
  margin: 10% auto 10%;
}

#logo-div {
  width: 50%;
  margin: 0 auto;
}

#title-div {
  margin: 0 auto;
  text-align: center;
}

.login-form-input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin: 10px 0 10px;
  padding: 15px;
  border: 1px;
  background-color: #eef3ff;
}

.login-form-input:focus {
  outline: 0;
}

#outer-login-form-div {
  width: 90%;
  margin: 0 auto;
}
.login-form-input[type="submit"] {
  background-color: #395faf;
  border-width: 0px;
  margin-top: 15px;
  padding: 0px;
}

.loading {
  text-align: center;
  margin-top: 15px;
}

.title {
  font-size: 20px;
}

.alert {
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: red;
}

@media (max-width: 300px) {
  #main-outer-div {
    width: 50%;
    min-width: 0px;
  }
}

/*Small devices {sm} (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
  header {
    margin-top: -5vh;
  }
  header .xs-header nav {
    margin-left: -5vh;
  }
}